body {
    font-size: 16px;
    background-color: #0f1a42;
    line-height: 1.5;
    min-width: 320px;
    position: relative;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    color: #7ae181;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

ul li,
ol li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #6ec31e;
    text-decoration: none;
}
a:hover {
    color: #0bad0b;
    text-decoration: none;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

button {
    background-color: #6ec31e;
    /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
button:hover {
    background-color: #0bad0b;
    color: #ffc506;
}

section {
    padding: 100px 0;
}

.content-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.title {
    font-size: 50px;
    font-weight: bold;
}
@media (max-width: 400px) {
    .title {
        font-size: 40px;
    }
}

.section__title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.sub-title {
    font-size: 30px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
}

.text-center {
    text-align: center;
}

@media (max-width: 991px) {
    [data-aos-delay] {
        -webkit-transition-delay: 0 !important;
                transition-delay: 0 !important;
    }
}
.header {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background-color: #d7d7d7;
}
.header .logo {
    line-height: 0;
}
.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}
.header .logo span {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #098809;
    margin-top: 3px;
}
@media (max-width: 400px) {
    .header .logo span {
        display: none;
    }
}

.header-scrolled {
    background-color: #bababa;
    -webkit-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
            box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    padding: 8px 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width: 1200px) {
    .navbar ul {
        gap: 30px;
    }
}
.navbar li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}
.navbar li span {
    color: #012970;
}
.navbar a,
.navbar a:focus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #012970;
    white-space: nowrap;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
@media (max-width: 991px) {
    .navbar a,
.navbar a:focus {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }
}
.navbar a i,
.navbar a:focus i {
    font-size: 18px;
    line-height: 0;
    margin-left: 2px;
    margin-right: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus {
    color: #127512;
}
.navbar .getstarted,
.navbar .getstarted:focus {
    background: #0baa0b;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #358b03;
}
.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 4px;
}
.navbar .dropdown ul li {
    min-width: 200px;
}
.navbar .dropdown ul li:hover {
    color: #358b03;
}
.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}
.navbar .dropdown ul a i {
    font-size: 20px;
}
.navbar .dropdown ul a:hover {
    color: #358b03;
}
.navbar .dropdown ul .active:hover {
    color: #358b03;
}
.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1400px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #127512;
    font-size: 40px;
    cursor: pointer;
    display: none;
    line-height: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.mobile-nav-toggle .bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #f3aa22;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
    font-size: 40px;
    position: absolute;
    top: 25px;
    right: 15px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #eedddd;
    overflow-y: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #012970;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #358b03;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}
@media (max-width: 991px) {
    .navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
        display: block;
        text-align: center;
        margin: 15px 50px;
    }
}
.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
    min-width: 200px;
}
.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
    font-size: 20px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #358b03;
}
.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

.greetings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
}

.hello__chage-title {
    color: #7ae181;
}

.form__save-users {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.form__save-users h4 {
    margin-bottom: 10px;
}
.form__save-users h5 {
    font-size: 25px;
}

#saveUserName {
    margin-bottom: 30px;
    width: 100%;
}
#saveUserName #item {
    width: 100%;
    font-size: 16px;
    height: 40px;
    border-radius: 10px;
}

.result__saved-users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.result__saved-users h5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.result__saved-users #savedName li {
    list-style-type: decimal;
}

.faq {
    color: #e6e6e6;
    font-size: 18px;
}

.faq-content {
    margin-bottom: 80px;
}
.faq-content .faq-content__header {
    margin-bottom: 20px;
}

.photo-gallery .gallery__subtitle,
.video-gallery .gallery__subtitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.photo-gallery {
    margin-bottom: 35px;
}
.photo-gallery__item {
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.photo-gallery__item:hover {
    -webkit-transform: scale(1.1) rotate(3deg);
            transform: scale(1.1) rotate(3deg);
}
.photo-gallery__item img {
    height: auto;
    width: 100%;
}

.video-gallery__item iframe {
    min-height: 500px;
    width: 100%;
}

/* Style for Glightbox START https://github.com/biati-digital/glightbox/blob/master/README.md */
.goverlay {
    background: #1c1b1b;
}

.gbtn {
    padding: 0 !important;
    background-color: #6ec31e !important;
    -webkit-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}
.gbtn:hover {
    background-color: #0bad0b !important;
}

.gclose {
    opacity: 1 !important;
}

/* Style for Glightbox END https://github.com/biati-digital/glightbox/blob/master/README.md */
.form-section {
    text-align: center;
}
.form-section h2 {
    font-size: 40px;
    font-weight: bold;
}
.form-section .status-msg {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.form {
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.form .form__input {
    min-width: 300px;
    height: 40px;
    border-radius: 5px;
}
.form .form__input[type] {
    border: 3px solid #6ec31e;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 18px;
}
.form .form__input[type]:focus {
    border: 3px solid #ffc506;
    background-color: #aef2a8;
    font-size: 18px;
    outline: none;
}
.form .form__link {
    color: #ffc506;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.form .form__link:hover {
    color: #0bad0b;
}

.send-button {
    padding-top: 20px;
}
.send-button .send-button__input {
    min-width: 60px;
    background-color: #6ec31e;
    /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.send-button .send-button__input:hover {
    background-color: #0bad0b;
    color: #ffc506;
}

.regist-form {
    text-align: center;
}
.regist-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
}